body {
	background-color: #F4F4F4;
	color: black;
	font-family: 'Raleway', sans-serif;
	margin: 0px;
	padding-left: 40px;
}
h1 {
	display: inline-block;
	height: 100px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-right: 0px;
	margin-left: -40px;
	padding-bottom: 20px;
	padding-left: 60px;
	border-bottom: 1px solid silver;
	font-weight: 800;
	font-size: 7em;
	color: #005c33;
	text-shadow:
	-2px -2px 0 #939393,
	2px -2px 0 #939393,
	-2px 2px 0 #939393,
	2px 2px 0 #939393;
	text-align: center;
}
.album {
	display: inline-block;
}
.preview {
	width: 100%;
	height: 700px;
	overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  img {
    display: inline-block;
  }
}
img {
	float: left;
	height: 500px;
	width: 500px;
	margin: 10px;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #343434;
	border: 1px solid white;
}
