<!DOCTYPE HTML>
<html>
  <head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>
		<h1>COLIN MCGLONE</h1>
		{% for album in albums %}
    <div class="album">
			<h2>{{ album['title'] }}</h2>
			{% for each in album['photos'] %}
			<div class="preview">
				<img src="{{ url_for(album['album_directory'], filename=each) }}">
			</div>
			{% endfor %}
		</div>
		{% endfor %}
	</body>
</html>
